.loading-card{
    left: 25%;
    width: 450px;
    margin: 0px;
    padding: 0px;
    height: 450px;
}

.loading-spinner{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 150px;
    top: 225px - 75px;
    left: 225px - 75px;
    display: block;
   
}