.main-card{
    margin-top: 16px;
    overflow: hidden;
}


.icon{
    text-align: center;
    font-size: 96px;
}

.temperature{
    font-size: 80px;
}

.left-cell{
    text-align: center;
    width: 25%;
    float: left;
}

.right-cell{
    text-align: center;
    width: 75%;
    float: left;
}