<mat-card class="text-light pt-3 main-card">
    <mat-card-title>News:</mat-card-title>

<mat-grid-list class="carousel" cols="2" rowHeight="1:1">

    <mat-grid-tile class="carousel-tile">
    <img class="carousel-image" src="assets\news\pictures\tornado.jpg">
    <div class="title-background"></div>
    <div class="description-background"></div>
    <div class="carousel-title">Tornado Season 2020</div>
    <div class="carousel-description">Check out which area will be more affected by the next outbreaks.</div>
    </mat-grid-tile>

    <mat-grid-tile class="carousel-tile">
        <img class="carousel-image" src="assets\news\pictures\radar.gif">
        <div class="title-background"></div>
        <div class="description-background"></div>
        <div class="carousel-title">How radars detect severe weather</div>
        <div class="carousel-description">Learn how the doppler effect is used to detect rain and thunderstorms.</div>
        </mat-grid-tile>

</mat-grid-list>
</mat-card>