<app-loading-page *ngIf="!cities"></app-loading-page>

<div *ngIf="cities">
<app-search-bar (textEvent)="filterCities($event)"></app-search-bar>

<mat-card class="text-light pt-3 list-card" >
<mat-list>
<div class="align-bottom city-name" *ngFor="let city of displayCities" style="height: 96px;">
  <div class="element" (click)="accessCity(city.id)">
    <app-list-cities-elem class="row" [city]="city"></app-list-cities-elem>
  </div>
  <mat-divider></mat-divider>
  </div>
</mat-list>
</mat-card>
</div>