body{
margin: 0px;
padding: 0px;
background-image: linear-gradient(SteelBlue,RosyBrown);
height:100%;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}