<app-upper-bar [sideNav] = "sidenav"></app-upper-bar>
<mat-sidenav-container #sidenavContainer class="main-container" (backdropClick)="closeSideMenu()">
<mat-sidenav #sidenav mode="push" class="side-menu"><app-side-menu-list [sideMenu]="this"></app-side-menu-list></mat-sidenav>
<mat-sidenav-content class="main-content">
<div class="main-bg" [style.background-image]="'url(' + backgroundImage + ')'">
<app-warning-bar [title]="'Please note that this website is a work in progress.'"
[displayDescription]="false"></app-warning-bar>
<app-main></app-main>
</div>
</mat-sidenav-content>
</mat-sidenav-container>