.main-container{
    top: 0px;
    height: 85vh;
}

.main-content{
    background-color: black;
    color: black;
}

.main-bg{
    min-height: 100%;
    background-size: cover;
    padding-bottom: 64px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.side-menu{
    width: 300px;
}

